# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

.git
.github
.vscode
config/
hack/
scripts/
templates/
**/.md
tilt-provider.json
test/
_artifacts
.tiltbuild
Makefile
*.md
.gitignore
.golangci/yml
clusterctl-settings.json
*.example
PROJECT